<div class="row">

	<div class="span12" style="padding-bottom: 0.3em;">
		
		<div class="row">
			
			<div class="span12" style="text-align: center;">
				<b>ADD FUNDS</b>
				<br/><br/>
			</div>
			
		</div>
		
		<div class="row">
			<div class="span5" style="text-align: right;">
				USD
			</div>
			<div class="span7">
				<input type="text" style="height: 2.0em;" ng-model="addUsd"/>
				<button class="btn" ng-click="addUserFunds('usd', addUsd)">Add</button>
			</div>
		</div>
		
		<div class="row">
			<div class="span5" style="text-align: right;">
				LTC
			</div>
			<div class="span7">
				<input type="text" style="height: 2.0em;" ng-model="addLtc"/>
				<button class="btn" ng-click="addUserFunds('ltc', addLtc)">Add</button>
			</div>
		</div>
		
		<div class="row">
			<div class="span5" style="text-align: right;">
				BTC
			</div>
			<div class="span7">
				<input type="text" style="height: 2.0em;" ng-model="addBtc"/>
				<button class="btn" ng-click="addUserFunds('btc', addBtc)">Add</button>
			</div>
		</div>
		
	</div>

</div>

