<div class="row">

	<div class="span12" style="padding-bottom: 0.3em;">
		
		<div class="row" style="margin-top: 2.0em; margin-bottom: 2.0em;">
			
			<div class="span12" style="text-align: center;">
				<b>ACCOUNT MANAGEMENT</b>
				<br/><br/>
			</div>
			
		</div>
		
		<div class="row">
			
			<div class="span6" style="margin-bottom: 2.0em;">
				
				<div class="row" style="margin-bottom: 2.0em;">
			
					<div class="span6">
						<b>PAYMENT FUNDS</b>
					</div>
						
				</div>
				
				
				<div class="row" style="margin-bottom: 1.0em;">
					
					<div class="span6" style="border: 1px">
						
						<div class="tabbable"> <!-- Only required for left/right tabs -->
  							<ul class="nav nav-tabs" style="margin: 0px;">
    							<li ng-class="{ active: showCurrency == 'btc' }">
    							<a href="#tab1" data-toggle="tab" ng-click="showCurrency = 'btc'">
    								BTC {{user.accountFunds.reserves['btc']|truncate:6:""}}
    							</a>
  							</li>
  							
  							<li ng-class="{ active: showCurrency == 'ltc' }">
    							<a href="#tab2" data-toggle="tab" ng-click="showCurrency = 'ltc'">
    								LTC {{user.accountFunds.reserves['ltc']|truncate:6:""}}
    							</a>
  							</li>
  							
  							<li ng-class="{ active: showCurrency == 'usd' }">
    							<a href="#tab3" data-toggle="tab" ng-click="showCurrency = 'usd'">
    								USD {{user.accountFunds.reserves['usd']|truncate:6:""}}
    							</a>
  							</li>
  							</ul>
  							<!-- 
  							<div class="tab-content" style="border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; border-left: 1px solid #ddd;">
    							<div class="tab-pane active" id="tab1" style="margin: 10px;">
      								<p>I'm in Section 1.</p>
    							</div>
    							<div class="tab-pane" id="tab2" style="margin: 10px;">
      								<p>Howdy, I'm in Section 2.</p>
    							</div>
  							</div>
  							-->
						</div>
						
					</div>
							
				</div>
				
				
				
				<div ng-show="showCurrency == 'btc'">
				
				<div class="row" style="margin-bottom: 1.0em; margin-top: 2.0em;">
			
					<div class="span2" style="font-size: 1.8em; font-weight: bold;">
						BTC
					</div>
			
					<div class="span4" style="font-size: 1.8em;">
						{{user.accountFunds.reserves['btc']|truncate:6:""}} BTC
					</div>
					
				</div>
				
				<div class="row" style="margin-bottom: 0.8em;">
					
					<div class="span2" style="">
						<b>Deposit addr.</b>
					</div>
					
					<div class="span4" style="">
						<img src="http://blockchain.info/qr?data={{user.accountFunds.addresses['btc']}}&size=200" />
					</div>
					
				</div>
				
				<div class="row">
				
					<div class="span6" style="text-align: center;">
						{{user.accountFunds.addresses['btc']}}
					</div>
				
				</div>
				</div>
				
				<div ng-show="showCurrency == 'ltc'">
				<div class="row"  style="margin-bottom: 1.0em; margin-top: 2.0em;">
			
					<div class="span2" style="font-size: 1.8em; font-weight: bold;">
						LTC
					</div>
			
					<div class="span4" style="font-size: 1.8em;">
						{{user.accountFunds.reserves['ltc']|truncate:6:""}} LTC
					</div>
					
				</div>
				
				<div class="row" style="margin-bottom: 0.8em;">
					
					<div class="span2" style="">
						<b>Deposit addr.</b>
					</div>
					
					<div class="span4" style="">
						<img src="http://blockchain.info/qr?data={{user.accountFunds.addresses['ltc']}}&size=200" />
					</div>
					
				</div>
				
				<div class="row">
				
					<div class="span6" style="text-align: center;">
						{{user.accountFunds.addresses['ltc']}}
					</div>
				
				</div>
				</div>
				
				<div ng-show="showCurrency == 'usd'">
				<div class="row" style="margin-bottom: 1.0em; margin-top: 2.0em;">
			
					<div class="span2" style="font-size: 1.8em; font-weight: bold;">
						USD
					</div>
			
					<div class="span4" style="font-size: 1.8em;">
						{{user.accountFunds.reserves['usd']|truncate:6:""}} USD
					</div>
					
				</div>
				
				<div class="row" style="margin-bottom: 0.8em;">
					
					<div class="span2" style="text-align: right;">
						<b>Deposit</b>
					</div>
					<div class="span4">
						<a class="btn" style="margin-top: -0.3em;" ng-click="gotoOkpayPayment()">
								Make OKPAY payment
						</a>
					</div>
					
				</div>
				</div>
				
				<div class="row"  style="margin-top: 1.0em;" ng-show="pendingTxBtc.length > 0">
					<div class="span6">
						<b>Pending BTC transactions</b>
					</div>
				</div>
				
				<div class="row" ng-repeat="transaction in pendingTxBtc" style="margin-top: 2px;">
					<div class="span6" style="background: #d0d0d0;">
						<div class="row">
							<div class="span2">
								{{transaction.dateStr}}
							</div>
							<div class="span1">
								{{transaction.type}}
							</div>
							<div class="span2" style="text-align: right;">
								{{transaction.amount|truncate:6:""}} BTC
							</div>
						</div>
						<div class="row">
							<div class="span6">
								{{transaction.stateInfo}}
							</div>
						</div>
					</div>
				</div>
				
				<div class="row"  style="margin-top: 1.0em;" ng-show="pendingTxLtc.length > 0">
					<div class="span6">
						<b>Pending LTC transactions</b>
					</div>
				</div>
				
				<div class="row" ng-repeat="transaction in pendingTxLtc" style="margin-top: 2px;">
					<div class="span6" style="background: #d0d0d0;">
						<div class="row">
							<div class="span2">
								{{transaction.dateStr}}
							</div>
							<div class="span1">
								{{transaction.type}}
							</div>
							<div class="span2" style="text-align: right;">
								{{transaction.amount|truncate:6:""}} LTC
							</div>
						</div>
						<div class="row">
							<div class="span6">
								{{transaction.stateInfo}}
							</div>
						</div>
					</div>
				</div>
				
				<div class="row" style="margin-top: 6.0em;">
					<div class="span6">
						<b>SET PAYMENT METHOD</b> (effective from the next billing period)
					</div>
				</div>
				
				<div class="row">
					<div class="span4">
						
						<div style="margin: 1.0em;">
						<ul class="nav nav-pills">
  							
  							<li ng-class="{ active: setNextMethod == 'monthly' }">
    							<a href="" ng-click="setNextMethod = 'monthly'">
    								Monthly
    							</a>
  							</li>
  							
  							<li ng-class="{ active: setNextMethod == 'profit' }">
    							<a href="" ng-click="setNextMethod = 'profit'">
    								Profit sharing
    							</a>
  							</li>
  								
						</ul>
						</div>
						
					</div>
					
					<div class="span2">
						<div style="margin: 1.2em;">
						<select ng-model="setNextCurrency" style="width: 8em; margin-bottom: 0px;">
							<option value="btc" title="BTC">BTC</option>
							<option value="ltc" title="LTC">LTC</option>
							<option value="usd" title="USD">USD</option>
						</select>
						</div>
					</div>
					
				</div>
				
				<div ng-show="setNextMethod == 'monthly'">
					<div class="row" style="margin-bottom: 1.0em;">
						<div class="span6">
							<div style="margin-left: 1.0em;">
								<b>Fixed monthly billing, {{serviceFees["monthly"][setNextCurrency]}} {{setNextCurrency|uppercase}}/month</b>
								<br/><br/>
								{{serviceFees["monthly"][setNextCurrency]}} {{setNextCurrency|uppercase}} will be deducted from your account 15th day of every month.
							</div>
						</div>
					</div>
				</div>
				
				<div ng-show="setNextMethod == 'profit'">
					<div class="row" style="margin-bottom: 1.0em;">
						<div class="span6">
							<div style="margin-left: 1.0em;">
								<b>Fixed monthly billing, {{serviceFees["profit"][setNextCurrency]}} {{setNextCurrency|uppercase}}/month + {{serviceFees["profit"]["share"]}}% of profits on automatic trades</b>
								<br/><br/>
								{{serviceFees["profit"][setNextCurrency]}} {{setNextCurrency|uppercase}} will be deducted from your account 15th day of every month and amount equal to 10% of profit will be deducted on each automated profitable pair of transactions. Manual transactions are free.
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="span6" style="text-align: center;">
						<a ng-show="paymentMethod != '' && missingReserves <= 0" class="btn" style="margin-top: -0.3em;" ng-click="setNextPaymentMethod()">
							Set payment method for the next billing period
						</a>
						<a ng-show="paymentMethod == '' || missingReserves > 0" class="btn" style="margin-top: -0.3em;" ng-click="setNextPaymentMethod()">
							Set payment method
						</a>
					</div>
				</div>
				
				<div class="row" ng-show="paymentMethod == '' || missingReserves > 0">
					<div class="span6" style="text-align: center; margin-top: 0.5em; color: green;">
						After the payment method for the current billing period has been selected, you will only be able to change the payment method starting from the next billing period!
					</div>
				</div>
				
				<div class="row" ng-repeat="paymentError in paymentErrors">
					<div class="span6" style="text-align: center; margin-top: 0.5em; color: red;">
						{{paymentError.text}}
					</div>
				</div>
				
				<div class="row" style="margin-top: 6.0em;">
					<div class="span6">
						<b>BILLING</b>
					</div>
				</div>
				
				<div class="row" style="margin-top: 1.0em;">
					<div class="span6">
					
						<table class="table">
							<tr>
								<th>Billing period</th>
								<th>Payment method</th>
								<th>Fixed costs</th>
								<th>Profit shared</th>
							</tr>
							
							<tr ng-show="paymentMethod != ''">
								<td>{{dateStart}} - {{dateEnd}}</td>
								<td>{{paymentMethod}} ({{paymentCurrency|uppercase}})</td>
								<td>{{serviceFees[paymentMethod][paymentCurrency]}} {{paymentCurrency|uppercase}}</td>
								<td>
								<span ng-show="{{sharedProfit['btc'] != '0.0'}}">{{sharedProfit["btc"]|truncate:6:""}} BTC<br/></span>
								<span ng-show="{{sharedProfit['ltc'] != '0.0'}}">{{sharedProfit["ltc"]|truncate:6:""}} LTC<br/></span>
								<span ng-show="{{sharedProfit['usd'] != '0.0'}}">{{sharedProfit["usd"]|truncate:6:""}} USD</span>
								<span ng-show="{{sharedProfit['btc'] == '0.0' && sharedProfit['ltc'] == '0.0' && sharedProfit['usd'] == '0.0'}}">None</span>
								</td>
							</tr>
							
							<tr ng-show="paymentMethod == ''">
								<td>{{dateStart}} - {{dateEnd}}</td>
								<td colspan="3" style="text-align: center;">Not set</td>
							</tr>
							
							<tr ng-show="missingReserves > 0">
								<td colspan="4" style="border: none; color: red;">
									Insufficient funds for the current billing period. Deposit funds or change the payment method.
								</td>
							</tr>
							
							<tr ng-show="nextPaymentMethod != ''">
								<td>{{nextDateStart}} - {{nextDateEnd}}</td>
								<td>{{nextPaymentMethod}} ({{nextPaymentCurrency|uppercase}})</td>
								<td>{{serviceFees[nextPaymentMethod][nextPaymentCurrency]}} {{nextPaymentCurrency|uppercase}}</td>
								<td>None</td>
							</tr>
							
							<tr ng-show="nextPaymentMethod == ''">
								<td>{{nextDateStart}} - {{nextDateEnd}}</td>
								<td colspan="3" style="text-align: center;">Not set</td>
							</tr>
							
					</table>
				
					</div>
				</div>
				
			</div>

			
			<div class="span5">
				
				<div class="row" style="margin-bottom: 2.0em;">
					<div class="span5">
						<b>EXCHANGE ACCOUNTS</b>
					</div>
				</div>
				
				<div class="row" style="margin-bottom: 1.0em;">
			
					<div class="span5" style="font-size: 1.8em; font-weight: bold;">
						BTC-e
					</div>
			
				</div>
				
				<div class="row" style="margin-bottom: 1.0em;">
			
					<div class="span5">
						{{user.accountFunds.activeFunds['btce']['usd']|truncate:6:""}} USD &nbsp;&nbsp; 
						{{user.accountFunds.activeFunds['btce']['btc']|truncate:6:""}} BTC &nbsp;&nbsp;
						{{user.accountFunds.activeFunds['btce']['ltc']|truncate:6:""}} LTC
					</div>
					
				</div>
				
				<div class="row" style="margin-bottom: 2.0em;">
					
					<div class="span5">
						
						<div class="row" style="min-height: 3.0em;">
							<div class="span1">
								<b>API key:</b>
							</div>
							<div class="span3" ng-show="editBtceKey">
								<input type="text" style="height: 2.0em;" ng-model="user.accountFunds.serviceProperties['btce'].properties['apiKey']"/>
							</div>
							<div class="span1" ng-show="editBtceKey">
								<a class="btn" style="margin-top: -0.3em;" ng-click="setServiceProperty('btce', 'apiKey', user.accountFunds.serviceProperties['btce'].properties['apiKey'])">
									Set
								</a>
							</div>
							<div class="span3" ng-show="!editBtceKey && user.accountFunds.serviceProperties['btce'].properties['apiKey'] != ''" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
								{{user.accountFunds.serviceProperties['btce'].properties['apiKey']}}
							</div>
							<div class="span3" ng-show="!editBtceKey && user.accountFunds.serviceProperties['btce'].properties['apiKey'] == ''" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden; text-align: center; color: red;">
								Not set
							</div>
							<div class="span1" ng-show="!editBtceKey">
								<a class="btn" style="margin-top: -0.3em;" ng-click="editBtceKey = true">
									Change
								</a>
							</div>
						</div>
						<div class="row" style="min-height: 3.0em;">
							<div class="span1">
								<b>Secret:</b>
							</div>
							<div class="span3" ng-show="editBtceSecret">
								<input type="text" style="height: 2.0em;" ng-model="user.accountFunds.serviceProperties['btce'].properties['apiSecret']"/>
							</div>
							<div class="span1" ng-show="editBtceSecret">
								<a class="btn" style="margin-top: -0.3em;" ng-click="setServiceProperty('btce', 'apiSecret', user.accountFunds.serviceProperties['btce'].properties['apiSecret'])">
									Set
								</a>
							</div>
							<div class="span3" ng-show="!editBtceSecret && user.accountFunds.serviceProperties['btce'].properties['apiSecret'] != ''" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
								{{user.accountFunds.serviceProperties['btce'].properties['apiSecret']}}
							</div>
							<div class="span3" ng-show="!editBtceSecret && user.accountFunds.serviceProperties['btce'].properties['apiSecret'] == ''" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden; text-align: center; color: red;">
								Not set
							</div>
							<div class="span1" ng-show="!editBtceSecret">
								<a class="btn" style="margin-top: -0.3em;" ng-click="editBtceSecret = true">
									Change
								</a>
							</div>
						</div>
							
					</div>
				
				</div>
				
				<div class="row"  style="margin-top: 1.0em;" ng-show="pendingTxBtce.length > 0">
					<div class="span5">
						<b>Pending BTC-E transfers</b>
					</div>
				</div>
				
				<div class="row" ng-repeat="transaction in pendingTxBtce" style="margin-top: 2px;">
					<div class="span5" style="background: #d0d0d0;">
						<div class="row">
							<div class="span2">
								{{transaction.dateStr}}
							</div>
							<div class="span1">
								{{transaction.type}}
							</div>
							<div class="span2" style="text-align: right;">
								{{transaction.amount|truncate:6:""}} {{transaction.currency|uppercase}}
							</div>
						</div>
						<div class="row">
							<div class="span5">
								{{transaction.stateInfo}}
							</div>
						</div>
					</div>
				</div>
				
				<div class="row" style="margin-bottom: 1.0em; margin-top: 2.0em;">
			
					<div class="span7"">
						<span style="font-size: 1.8em; font-weight: bold;">Mt. Gox</span>
						<span>(Coming soon!)</span>
					</div>
			
				</div>
				
				<div class="row" style="margin-bottom: 1.0em;">
			
					<div class="span5">
						0 USD &nbsp;&nbsp; 0 BTC
					</div>
					
				</div>
				
				<div class="row" style="margin-bottom: 2.0em;">
					
					<div class="span5">
						
					</div>
					
				</div>
				
				<div class="row" style="margin-top: 6.0em;">
					
					<div class="span5" style="padding-top: 1.0em; padding-bottom: 1.0em; text-align: center; border-top: 1px solid black; border-bottom: 1px solid black;">
						
						<span ng-show="!removalRequested">
							<a href="" ng-click="removeAccount()">Remove account</a>
						</span>
						
						<span ng-show="removalRequested">
							You have requested to remove your account. If you proceed you will lose ALL 
							personal data associated with your account and any service fee deposits you have made.
							<br/><br/>
							<a href="" ng-click="removeAccount()">Yes, I want to proceed</a>
							| <a href="" ng-click="removalRequested = false">Cancel</a>
						</span>
						
						
					</div>
					
				</div>
				
			</div>
			
		</div>
		
		
	</div>

</div>

