<div class="row">

	<div class="span12" style="padding-bottom: 0.3em;">
		
		<div class="row" style="margin-top: 2.0em; margin-bottom: 2.0em;">
			
			<div class="span12" style="text-align: center;">
				<b>MANAGE FUNDS</b>
				<br/><br/>
			</div>
			
		</div>
		
		<div class="row">
			
			<div class="span6">
				
				<div class="row" style="margin-bottom: 2.0em;">
			
					<div class="span6">
						<b>RESERVES</b>
					</div>
						
				</div>
				
				
				<div class="row" style="margin-bottom: 1.0em;">
			
					<div class="span2" style="font-size: 1.8em; font-weight: bold;">
						BTC
					</div>
			
					<div class="span4" style="font-size: 1.8em;">
						{{user.accountFunds.reserves['btc']}} BTC
					</div>
					
				</div>
				
				<div class="row" style="margin-bottom: 0.8em;">
					
					<div class="span2" style="text-align: right;">
						<b>Deposit addr.</b>
					</div>
					<div class="span4">
						{{user.accountFunds.addresses['btc']}}
					</div>
				</div>
				
				<div class="row"  style="margin-top: 1.0em;" ng-show="pendingTxBtc.length > 0">
					<div class="span6">
						<b>Pending BTC transactions</b>
					</div>
				</div>
				
				
				<div class="row" ng-repeat="transaction in pendingTxBtc" style="margin-top: 2px;">
					<div class="span6" style="background: #d0d0d0;">
						<div class="row">
							<div class="span2">
								{{transaction.dateStr}}
							</div>
							<div class="span1">
								{{transaction.type}}
							</div>
							<div class="span2" style="text-align: right;">
								{{transaction.amount|truncate:6:""}} BTC
							</div>
						</div>
						<div class="row">
							<div class="span6">
								{{transaction.stateInfo}}
							</div>
						</div>
					</div>
				</div>
				
				<div class="row"  style="margin-bottom: 1.0em; margin-top: 2.0em;">
			
					<div class="span2" style="font-size: 1.8em; font-weight: bold;">
						LTC
					</div>
			
					<div class="span4" style="font-size: 1.8em;">
						{{user.accountFunds.reserves['ltc']|truncate:6:""}} LTC
					</div>
					
				</div>
				
				<div class="row" style="margin-bottom: 0.8em;">
					
					<div class="span2" style="text-align: right;">
						<b>Deposit addr.</b>
					</div>
					<div class="span4">
						{{user.accountFunds.addresses['ltc']}}
					</div>
				</div>
				
				<div class="row"  style="margin-top: 1.0em;" ng-show="pendingTxLtc.length > 0">
					<div class="span6">
						<b>Pending LTC transactions</b>
					</div>
				</div>
				
				<div class="row" ng-repeat="transaction in pendingTxLtc" style="margin-top: 2px;">
					<div class="span6" style="background: #d0d0d0;">
						<div class="row">
							<div class="span2">
								{{transaction.dateStr}}
							</div>
							<div class="span1">
								{{transaction.type}}
							</div>
							<div class="span2" style="text-align: right;">
								{{transaction.amount|truncate:6:""}} LTC
							</div>
						</div>
						<div class="row">
							<div class="span6">
								{{transaction.stateInfo}}
							</div>
						</div>
					</div>
				</div>
				
				<div class="row" style="margin-bottom: 1.0em; margin-top: 2.0em;">
			
					<div class="span2" style="font-size: 1.8em; font-weight: bold;">
						USD
					</div>
			
					<div class="span4" style="font-size: 1.8em;">
						{{user.accountFunds.reserves['usd']}} USD
					</div>
					
				</div>
				
				<div class="row" style="margin-bottom: 0.8em;">
					
					<div class="span2" style="text-align: right;">
						<b>Deposit</b>
					</div>
					<div class="span4">
						<a class="btn" style="margin-top: -0.3em;" 
							href="https://www.okpay.com/process.html?ok_receiver=OK990732954&ok_item_1_name=Add+USD&ok_currency=USD&ok_item_1_type=service&ok_invoice={{getInvoice(user.accountName)}}">
								Make OKPAY payment
						</a>
					</div>
					
				</div>
		
			</div>

			
			<div class="span5">
				
				<div class="row" style="margin-bottom: 2.0em;">
					<div class="span5">
						<b>EXCHANGE ACCOUNTS</b>
					</div>
				</div>
				
				<div class="row" style="margin-bottom: 1.0em;">
			
					<div class="span5" style="font-size: 1.8em; font-weight: bold;">
						BTC-E
					</div>
			
				</div>
				
				<div class="row" style="margin-bottom: 1.0em;">
			
					<div class="span5">
						{{user.accountFunds.serviceInfos['btce'].doubleProperties['usd']}} USD &nbsp;&nbsp; 
						{{user.accountFunds.serviceInfos['btce'].doubleProperties['btc']}} BTC &nbsp;&nbsp;
						{{user.accountFunds.serviceInfos['btce'].doubleProperties['ltc']}} LTC
					</div>
					
				</div>
				
				<div class="row" style="margin-bottom: 2.0em;">
					
					<div class="span5">
						
						<div class="row" style="height: 3.0em;">
							<div class="span1">
								<b>API key:</b>
							</div>
							<div class="span3" ng-show="editBtceKey">
								<input type="text" style="height: 2.0em;" ng-model="user.accountFunds.serviceProperties['btce'].properties['apiKey']"/>
							</div>
							<div class="span1" ng-show="editBtceKey">
								<a class="btn" style="margin-top: -0.3em;" ng-click="setServiceProperty('btce', 'apiKey', user.accountFunds.serviceProperties['btce'].properties['apiKey'])">
									Set
								</a>
							</div>
							<div class="span3" ng-show="!editBtceKey">
								{{user.accountFunds.serviceProperties['btce'].properties['apiKey']}}
							</div>
							<div class="span1" ng-show="!editBtceKey">
								<a class="btn" style="margin-top: -0.3em;" ng-click="editBtceKey = true">
									Change
								</a>
							</div>
						</div>
						<div class="row" style="height: 3.0em;">
							<div class="span1">
								<b>Secret:</b>
							</div>
							<div class="span3" ng-show="editBtceSecret">
								<input type="text" style="height: 2.0em;" ng-model="user.accountFunds.serviceProperties['btce'].properties['apiSecret']"/>
							</div>
							<div class="span1" ng-show="editBtceSecret">
								<a class="btn" style="margin-top: -0.3em;" ng-click="setServiceProperty('btce', 'apiSecret', user.accountFunds.serviceProperties['btce'].properties['apiSecret'])">
									Set
								</a>
							</div>
							<div class="span3" ng-show="!editBtceSecret">
								{{user.accountFunds.serviceProperties['btce'].properties['apiSecret']}}
							</div>
							<div class="span1" ng-show="!editBtceSecret">
								<a class="btn" style="margin-top: -0.3em;" ng-click="editBtceSecret = true">
									Change
								</a>
							</div>
						</div>
							
					</div>
				
				</div>
				
				<div class="row"  style="margin-top: 1.0em;" ng-show="pendingTxBtce.length > 0">
					<div class="span5">
						<b>Pending BTC-E transfers</b>
					</div>
				</div>
				
				<div class="row" ng-repeat="transaction in pendingTxBtce" style="margin-top: 2px;">
					<div class="span5" style="background: #d0d0d0;">
						<div class="row">
							<div class="span2">
								{{transaction.dateStr}}
							</div>
							<div class="span1">
								{{transaction.type}}
							</div>
							<div class="span2" style="text-align: right;">
								{{transaction.amount|truncate:6:""}} {{transaction.currency|uppercase}}
							</div>
						</div>
						<div class="row">
							<div class="span5">
								{{transaction.stateInfo}}
							</div>
						</div>
					</div>
				</div>
				
				<div class="row" style="margin-bottom: 1.0em; margin-top: 2.0em;">
			
					<div class="span7"">
						<span style="font-size: 1.8em; font-weight: bold;">Mt. Gox</span>
						<span>(Coming soon!)</span>
					</div>
			
				</div>
				
				<div class="row" style="margin-bottom: 1.0em;">
			
					<div class="span5">
						0 USD &nbsp;&nbsp; 0 BTC
					</div>
					
				</div>
				
				<div class="row" style="margin-bottom: 2.0em;">
					
					<div class="span5">
						
					</div>
					
				</div>
				
			</div>
			
		</div>
		
		
	</div>

</div>

