<div class="row" style="padding-top: 0.5em; background: #ededed; margin-bottom: 1.0em;">
<div class="col-md-6" style="background: #ededed; margin-bottom: 0.7em;">
	<div style="margin-top: 0.3em; margin-bottom: 0.3em;">
		<div class="row">
			<div class="col-md-5" style="text-align: right;">
				<i ng-class="icon-question-sign" class="icon-question-sign" rel="tooltip" title="This value defines how much the rate needs to go down, so that another chunk of funds would be bough at lower rate."></i>
				Buy threshold
			</div>
			<div class="col-md-7">
				<div class="control-group"
					ng-class="{ error: user.currentTradingSession.autoTradingOptions.buyThreshold == undefined }">
					<input ng-disabled="!user.currentTradingSession.autoTradingOptions.manualSettings" style="margin-bottom: 0px; width: 4.0em;" type="text"
						name="buyThreshold"
						ng-model="user.currentTradingSession.autoTradingOptions.buyThreshold"
						smart-float />
					% ({{user.currentTradingSession.rate.buy*(user.currentTradingSession.autoTradingOptions.buyThreshold/100)|truncate:6:""}} {{user.currentTradingSession.currencyLeft|uppercase}})
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 4px;">
			<div class="col-md-5" style="text-align: right;">
				<i ng-class="icon-question-sign" class="icon-question-sign" rel="tooltip" title="This value defines how much the rate needs to go up, so that another chunk of funds would be sold at higher rate."></i>
				Sell threshold
			</div>
			<div class="col-md-7">
				<div class="control-group"
					ng-class="{ error: user.currentTradingSession.autoTradingOptions.sellThreshold == undefined }">
					<input ng-disabled="!user.currentTradingSession.autoTradingOptions.manualSettings" style="margin-bottom: 0px; width: 4.0em;" type="text"
						name="sellThreshold"
						ng-model="user.currentTradingSession.autoTradingOptions.sellThreshold"
						smart-float />
					% ({{user.currentTradingSession.rate.sell*(user.currentTradingSession.autoTradingOptions.sellThreshold/100)|truncate:6:""}} {{user.currentTradingSession.currencyLeft|uppercase}})
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 4px;">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12" style="text-align: center;">
						<i ng-class="icon-question-sign" class="icon-question-sign" rel="tooltip" title="This value defines how much funds will be bought each time the rate goes below the 'Buy threshold' level."></i>
						Buy chunk
					</div>
				</div>
				<div class="row">
					<div class="col-md-12" style="text-align: center;">
						<div class="control-group"
							ng-class="{ error: user.currentTradingSession.autoTradingOptions.buyChunk == undefined }">
							<input ng-disabled="!user.currentTradingSession.autoTradingOptions.manualSettings" style="margin-bottom: 0px; width: 4.0em;" type="text"
								name="buyChunk"
								ng-model="user.currentTradingSession.autoTradingOptions.buyChunk"
								smart-float />
							{{user.currentTradingSession.currencyRight|uppercase}}
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12" style="text-align: center;">
						<i ng-class="icon-question-sign" class="icon-question-sign" rel="tooltip" title="This value defines how much funds will be sold each time the rate goes above the 'Sell threshold' level."></i>
						Sell chunk
					</div>
				</div>
				<div class="row">
					<div class="col-md-12" style="text-align: center;">
						<div class="control-group"
							ng-class="{ error: user.currentTradingSession.autoTradingOptions.sellChunk == undefined }">
							<input ng-disabled="!user.currentTradingSession.autoTradingOptions.manualSettings" style="margin-bottom: 0px; width: 4.0em;" type="text"
								name="sellChunk"
								ng-model="user.currentTradingSession.autoTradingOptions.sellChunk"
								smart-float />
							{{user.currentTradingSession.currencyRight|uppercase}}
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<div class="col-md-6" style="background: #ededed; margin-bottom: 0.7em;">
	<div style="margin-top: 0.3em; margin-bottom: 0.3em;">
		<div class="row">
			<div class="col-md-6" style="text-align: right;">
				<i ng-class="icon-question-sign" class="icon-question-sign" rel="tooltip" title="This value defines the maximum price at which new buys are allowed."></i>
				Buy ceiling
			</div>
			<div class="col-md-6">
				<div class="control-group"
					ng-class="{ error: user.currentTradingSession.autoTradingOptions.buyCeiling == undefined }">
					<input ng-disabled="!user.currentTradingSession.autoTradingOptions.manualSettings" style="margin-bottom: 0px; width: 4.0em;" type="text"
						name="buyCeiling"
						ng-model="user.currentTradingSession.autoTradingOptions.buyCeiling"
						smart-float />
					{{user.currentTradingSession.currencyLeft|uppercase}}
				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 4px;">
			<div class="col-md-6" style="text-align: right;">
				<i ng-class="icon-question-sign" class="icon-question-sign" rel="tooltip" title="This value defines the minimum price at which new sells are allowed."></i>
				Sell floor
			</div>
			<div class="col-md-6">
				<div class="control-group"
					ng-class="{ error: user.currentTradingSession.autoTradingOptions.sellFloor == undefined }">
					<input ng-disabled="!user.currentTradingSession.autoTradingOptions.manualSettings" style="margin-bottom: 0px; width: 4.0em;" type="text"
						name="sellFloor"
						ng-model="user.currentTradingSession.autoTradingOptions.sellFloor"
						smart-float />
					{{user.currentTradingSession.currencyLeft|uppercase}}
				</div>
			</div>
		</div>
	</div>
</div>
</div>