<div class="row">

	<div class="span12" style="padding-bottom: 0.3em;">

		<div class="row">
			<div class="span12" style="border-top: 1px solid black; border-bottom: 1px solid black; height: 1.85em;">
				<div class="row">
					<div class="span6">
						<div style="padding-top: 0.2em;">
							<a href="" ng-click="showAutoTrading = !showAutoTrading"><i ng-class="{ 'icon-chevron-down': showAutoTrading, 'icon-chevron-right': !showAutoTrading }"></i></a>
							Automatic trading
						</div>
					</div>
					<div class="span6">
						<div ng-hide="!user.currentTradingSession.autoTradingOptions.tradeAuto" style="display: inline-block; float: right;">
							Working <img src="img/chasingarrows.gif" style="width: 1.4em; height: 1.4em;"/>
							<button ng-click="user.currentTradingSession.autoTradingOptions.tradeAuto = false">
								STOP!
							</button>
						</div>
						<div ng-hide="user.currentTradingSession.autoTradingOptions.tradeAuto" style="display: inline-block; float: right;">
							Stopped
							<button ng-click="user.currentTradingSession.autoTradingOptions.tradeAuto = true">
								Start
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row" ng-class="{ hidden: !showAutoTrading }">
			<form name="form" class="css-form" novalidate>
				<div class="span4" style="background: #ededed; margin-bottom: 0.7em;">
					<div style="margin: 0.3em;">
						<input type="checkbox" style="margin-top: -2px;" ng-model="user.currentTradingSession.autoTradingOptions.tradeAuto" />
						Trade automatically
						<br/>
						<select ng-model="user.currentTradingSession.autoTradingOptions.autoTradingModel" ng-disabled="!user.currentTradingSession.autoTradingOptions.tradeAuto" style="margin-top: 0.5em;">
							<option ng-repeat="model in autoTradingOptions" value="{{model.value}}" title="{{model.name}}" ng-selected="model.value == user.currentTradingSession.autoTradingOptions.autoTradingModel">{{model.name}}</option>
						</select>
					</div>
				</div>
				<div class="span4" style="background: #ededed; margin-bottom: 0.7em;">
					<div style="margin-top: 0.3em; margin-bottom: 0.3em;">
						<div class="row">
							<div class="span2" style="text-align: right;">
								Buy threshold
							</div>
							<div class="span2">
								<div class="control-group" ng-class="{ error: user.currentTradingSession.autoTradingOptions.buyThreshold == undefined }">
									<input style="margin-bottom: 0px; width: 4.0em;" type="text" name="buyThreshold" ng-model="user.currentTradingSession.autoTradingOptions.buyThreshold" smart-float />
									{{user.currentTradingSession.currencyLeft|uppercase}}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="span2" style="text-align: right;">
								Sell threshold
							</div>
							<div class="span2">
								<div class="control-group" ng-class="{ error: user.currentTradingSession.autoTradingOptions.sellThreshold == undefined }">
									<input style="margin-bottom: 0px; width: 4.0em;" type="text" name="sellThreshold" ng-model="user.currentTradingSession.autoTradingOptions.sellThreshold" smart-float />
									{{user.currentTradingSession.currencyLeft|uppercase}}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="span2" style="text-align: right;">
								Trade chunk
							</div>
							<div class="span2">
								<div class="control-group" ng-class="{ error: user.currentTradingSession.autoTradingOptions.tradeChunk == undefined }">
									<input style="margin-bottom: 0px; width: 4.0em;" type="text" name="tradeChunk" ng-model="user.currentTradingSession.autoTradingOptions.tradeChunk" smart-float />
									{{user.currentTradingSession.currencyRight|uppercase}}
								</div>
							</div>
						</div>
						
					</div>
				</div>
				<div class="span4" style="background: #ededed; margin-bottom: 0.7em;">
					<div style="margin-top: 0.3em; margin-bottom: 0.3em;">
						<div class="row">
							<div class="span2" style="text-align: right;">
								Buy ceiling
							</div>
							<div class="span2">
								<div class="control-group" ng-class="{ error: user.currentTradingSession.autoTradingOptions.buyCeiling == undefined }">
									<input style="margin-bottom: 0px; width: 4.0em;" type="text" name="buyCeiling" ng-model="user.currentTradingSession.autoTradingOptions.buyCeiling" smart-float />
									{{user.currentTradingSession.currencyLeft|uppercase}}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="span2" style="text-align: right;">
								Sell floor
							</div>
							<div class="span2">
								<div class="control-group" ng-class="{ error: user.currentTradingSession.autoTradingOptions.sellFloor == undefined }">
									<input style="margin-bottom: 0px; width: 4.0em;" type="text" name="sellFloor" ng-model="user.currentTradingSession.autoTradingOptions.sellFloor" smart-float />
									{{user.currentTradingSession.currencyLeft|uppercase}}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="span2" style="text-align: right;">
								Rate buffer
							</div>
							<div class="span2">
								<div class="control-group" ng-class="{ error: user.currentTradingSession.autoTradingOptions.rateBuffer == undefined }">
									<input style="margin-bottom: 0px; width: 4.0em;" type="text" name="rateBuffer" ng-model="user.currentTradingSession.autoTradingOptions.rateBuffer" smart-float />
									{{user.currentTradingSession.currencyLeft|uppercase}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>

	</div>

</div>

