<div class="row" ng-controller="ChartsCtrl">

	<div class="span12" style="padding-bottom: 0.3em;">

		<div class="row">
			<div class="span12" style="border-top: 1px solid black; border-bottom: 1px solid black; height: 1.85em;">
				<div style="padding-top: 0.2em;">
					<a href="" ng-click="showGraphs = !showGraphs"><i ng-class="{ 'icon-chevron-down': showGraphs, 'icon-chevron-right': !showGraphs }"></i></a>
					Chart
				</div>
			</div>
		</div>
		<div class="row" ng-class="{ hidden: !showGraphs }">
			<div class="span12">
				<div class="row">
					<div class="span12">
						<div style="margin-left: 4.6em; margin-top: 0.6em;">
							<div class="btn-group">
								<button class="btn" ng-repeat="option in chartScaleOptions" ng-click="setChartScale(option.precision)" ng-class="{ active: option.precision == chartScale }">
									{{option.period}}
								</button>
							</div>
							<span style="margin-left: 1.0em;">Max. precision: {{chartScale}}</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div id="chartContainer" class="span12" style="height: 320px;"></div>
				</div>
			</div>
		</div>

	</div>

</div>