<div class="row" ng-controller="LoginCtrl">

	<div class="span6" style="padding-bottom: 0.3em;">
		
		<div class="row">
			
			<div class="span6" style="text-align: center;">
				<b>LOGIN/REGISTER</b>
				<br/><br/>
				If you don't have an account, it will be created on the first log-in.<br/>
				Please follow e-mail instructions if you want to keep your account.
				<br/><br/>
			</div>
			
		</div>
		
		<div class="row" ng-hide="errors['login'] == undefined" style="margin-bottom: 1em;">
			<div class="span6" style="text-align: center; border: 1px red solid; background: #fffacd;">
				{{errors['login'].message}}
			</div>
		</div>
		
		<form name="form" ng-hide="registration == true" class="css-form" novalidate>
			
		<div class="row">
			<div class="span2" style="text-align: right;">
				E-mail
			</div>
			<div class="span4">
				<div class="control-group" ng-class="{ error: username == undefined }" style="margin-bottom: 0px;">
					<input type="text" style="height: 2.0em;" name="username" ng-model="username" email/>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="span2" style="text-align: right;">
				Password
			</div>
			<div class="span4">
				<input type="text" style="height: 2.0em;" ng-model="password" ng-hide="passwordHidden"/>
				<input type="password" style="height: 2.0em;" ng-model="password" ng-hide="!passwordHidden"/>
			</div>
		</div>
		
		<div class="row" style="margin-bottom: 1em;">
			<div class="span2" style="text-align: right;">
			</div>
			<div class="span4">
				<input type="checkbox" ng-model="passwordHidden" style="margin-top: -1px;"/>
				Hide password
			</div>
		</div>
		
		<div class="row">
			<div class="span2" style="text-align: right;">
				
			</div>
			<div class="span4">
				<button class="btn" ng-hide="username == undefined || username.length == 0" ng-click="login(false)">Go</button>
				<button class="btn" disabled ng-show="username == undefined || username.length == 0">Go</button>
			</div>
		</div>
		
		</form>
		
		<form name="form" ng-show="registration == true" class="css-form" novalidate>
			
		<div class="row">
			<div class="span6" style="text-align: center;">
				Register new user:
			</div>
		</div>
		
		<div class="row">
			<div class="span6" style="text-align: center; font-weight: bold;">
				{{username}}
			</div>
		</div>
		
		<div class="row" style="margin-top: 1em;">
			<div class="span6" style="text-align: center; font-weight: bold;">
				<button class="btn" ng-click="registration = false">Cancel</button>
				<button class="btn" ng-click="login(true)">Register</button>
			</div>
		</div>
		
		</form>
		
		
		
	</div>

</div>

