<div class="row">

	<div class="span6" style="padding-bottom: 0.3em;">
		
		<div class="row">
			
			<div class="span6" style="text-align: center;">
				<b>LOGIN/REGISTER</b>
				<br/><br/>
				If you don't have an account, it will be created on the first log-in.<br/>
				Please follow e-mail instructions if you want to keep your account.
				<br/><br/>
			</div>
			
		</div>
		
		<div class="row">
			<div class="span2" style="text-align: right;">
				E-mail
			</div>
			<div class="span4">
				<input type="text" style="height: 2.0em;" ng-model="email"/>
			</div>
		</div>
		
		<div class="row">
			<div class="span2" style="text-align: right;">
				Password
			</div>
			<div class="span4">
				<input type="text" style="height: 2.0em;" ng-model="password"/>
			</div>
		</div>
		
		<div class="row">
			<div class="span2" style="text-align: right;">
				
			</div>
			<div class="span4">
				<button class="btn" ng-click="login()">Go</button>
			</div>
		</div>
		
	</div>

</div>

