<div class="row" style="margin-bottom: 2.0em;">
	
	<div class="span12" style="background: #d00000; color: white; text-align: center;" ng-hide="user.live">
		
		<div class="row">
			<div class="span9" style="background: #d00000; color: white; text-align: center;">
				<b>RUNNING IN TEST MODE</b>
				<br/>
				<i>1. Use 'Up' and 'Down' buttons above the chart to simulate rate changes</i>
				<br/>
				<i>2. You are free to set any amount of funds for any tab</i>
			</div>
			<div class="span3" style="height: 4.2em; position: relative;">
				<button ng-click="changeToLiveUser()" class="btn" style="top: 50%; margin-top: -1.0em; margin-left: -50%; height: 2.0em; width: 10em; position: absolute;">
					Go to LIVE mode
				</button>
			</div>
		</div>
		
	</div>
	
	<div class="span12" style="background: #00b000; color: white; text-align: center;" ng-hide="!user.live">
		
		<div class="row">
			<div class="span9">
				<b>RUNNING IN LIVE MODE</b>
				<br/>
				<i>1. You have read and accepted the EULA. Use at your own risk.</i>
				<br/>
				<i>2. Read the documentation and practice in TEST mode first.</i>
			</div>
			<div class="span3" style="height: 4.2em; position: relative;">
				<button ng-click="changeToTestUser()" class="btn" style="top: 50%; margin-top: -1.0em; margin-left: -50%; height: 2.0em; width: 10em; position: absolute;">
		 			Go to TEST mode
				</button>
			</div>
		</div>
		
	</div>
	
</div>


<div class="row" ng-hide="!user.currentTradingSession.uninitialized">
	<div class="span12" style="text-align: center;">
		Loading
	</div>
</div>

<div class="tabbable" ng-hide="user.currentTradingSession.uninitialized">
	
	<div class="row">
		<div class="span10">
			
			<ul class="nav nav-tabs">

				<li ng-repeat="session in user.tradingSessions" ng-class="{ active: user.currentTradingSession.id == session.id }">
					<a href="" ng-click="go('/tradeSession/{{session.id}}')" data-toggle="tab">{{session.currencyLeft|uppercase}}-{{session.currencyRight|uppercase}} @ BTC-E</a>
				</li>

				<li style="padding-top: 4px; padding-left: 1.0em;">
					<button ng-click="addTab()" class="btn" href="" style="display: inline-block;">
						Add session
					</button>
					<select ng-model="newCurrencyPair" style="width: 12em; margin-bottom: 0px;">
						<option value="ltc_usd" title="LTC-USD">USD-LTC @ BTC-E</option>
						<option value="ltc_btc" title="LTC-BTC">BTC-LTC @ BTC-E</option>
						<option value="btc_usd" title="BTC-USD">USD-BTC @ BTC-E</option>
					</select>
				</li>
			
			</ul>
			
		</div>
		<div class="span2" style="text-align: right; border-bottom: 1px solid #ddd; margin-left: 0px; padding-top: 8px; padding-bottom: 9px;">
			<span>&nbsp;</span><a href="" ng-hide="user.tradingSessions.length <= 1" ng-click="deleteCurrentTab()">Delete tab</a>
		</div>
	</div>
	
	<div class="tab-content">

		<div class="tab-pane active" id="tab1">
			
			<div ng-include src="'parts/sessionFunds.html'"></div>
			
			<div ng-include src="'parts/autoTrading.html'"></div>

			<div ng-include src="'parts/charts.html'"></div>

			<div class="row">

				<div class="span12" style="padding-bottom: 0.3em; margin-bottom: 2.0em;">

					<div class="row">
						<div class="span12" style="border-top: 1px solid black; border-bottom: 1px solid black; height: 1.85em;">
							<div style="padding-top: 0.2em;">
								<a href="" ng-click="showManualTrading = !showManualTrading"><i ng-class="{ 'icon-chevron-down': showManualTrading, 'icon-chevron-right': !showManualTrading }"></i></a>
								Manual trading
							</div>
						</div>
					</div>

					<div class="row" ng-class="{ hidden: !showManualTrading }">
						
						<form name="manualTrading" class="css-form" novalidate>
							
						<div class="span4">
							<div class="row">
								<div class="span2" style="background: #ededed; margin-bottom: 0.2em;">
									<div style="margin: 0.3em;" class="control-group" ng-class="{ error: manualBuyCurrencyLeft == undefined }">
										{{user.currentTradingSession.currencyLeft|uppercase}} [<a href="" ng-click="manualBuyCurrencyLeft = user.currentTradingSession.fundsLeft">All</a>] [<a href="" ng-click="manualBuyCurrencyLeft = user.currentTradingSession.fundsLeft/2">1/2</a>]
										<br/>
										<input style="width: 100%; margin-bottom: 0px; margin-top: 0.15em;" type="text" name="buyCurrencyLeft" ng-model="manualBuyCurrencyLeft" smart-float />
									</div>
								</div>
								<div class="span2" style="background: #ededed; margin-bottom: 0.2em;">
									<div style="margin: 0.3em;" class="control-group" ng-class="{ error: manualBuyCurrencyRight == undefined }">
										{{user.currentTradingSession.currencyRight|uppercase}} [<a href="" ng-click="manualBuyCurrencyRight = user.currentTradingSession.fundsRight">All</a>] [<a href="" ng-click="manualBuyCurrencyRight = user.currentTradingSession.fundsRight/2">1/2</a>]
										<br/>
										<input style="width: 100%; margin-bottom: 0px; margin-top: 0.15em;" type="text" name="buyCurrencyRight" ng-model="manualBuyCurrencyRight" smart-float />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="span4" style="margin-bottom: 0.7em;">
									<button style="width: 100%; margin-top: 0.15em;" ng-click="manualTransaction('buy')">
										Buy
									</button>
								</div>
							</div>
						</div>

						<div class="span4" style="background: #ededed; margin-bottom: 0.7em;">
							<div style="margin: 0.3em;">
								<div style="width: 100%">
									<div style="display: inline-block; width: 38%;" class="control-group" ng-class="{ error: manualBuyRate == undefined }">
										Buy rate
										<br/>
										<input style="width: 5.0em; margin-bottom: 0px; margin-top: 0.15em;" type="text" name="manualBuyRate" ng-model="manualBuyRate" smart-float />
									</div>
									<div style="display: inline-block; width: 20%; text-align: center;">
										<span>Track</span>
										<br/>
										<input type="checkbox" style="margin-top: 0.25em; margin-bottom: 0.35em;" ng-model="trackManualTransactions" />
									</div>
									<div style="display: inline-block; width: 38%; text-align: right;" class="control-group" ng-class="{ error: manualSellRate == undefined }">
										Sell rate
										<br/>
										<input style="width: 5.0em; margin-bottom: 0px; margin-top: 0.15em;" type="text" name="manualSellRate" ng-model="manualSellRate" smart-float />
									</div>
								</div>
								<div style="width: 100%; padding-top: 0.4em; text-align: center;">
									<div class="control-group" ng-class="{ error: manualRateBuffer == undefined }">
										<input type="checkbox" style="margin-top: -2px;" ng-model="rateAuto" />
										Auto
										<input type="checkbox" style="margin-top: -2px; margin-left: 1.0em;" ng-model="rateBuffered" ng-disabled="!rateAuto" />
										Buf.
										<input style="width: 4.0em; margin-bottom: 0px;" type="text" name="manualRateBuffer" ng-model="manualRateBuffer" ng-disabled="!rateBuffered || !rateAuto"  smart-float />
									</div>
								</div>
							</div>
						</div>

						<div class="span4">
							<div class="row">
								<div class="span2" style="background: #ededed; margin-bottom: 0.2em;">
									<div style="margin: 0.3em;" class="control-group" ng-class="{ error: manualSellCurrencyRight == undefined }">
										{{user.currentTradingSession.currencyRight|uppercase}} [<a href="" ng-click="manualSellCurrencyRight = user.currentTradingSession.fundsRight">All</a>] [<a href="" ng-click="manualSellCurrencyRight = user.currentTradingSession.fundsRight/2">1/2</a>]
										<br/>
										<input style="width: 100%; margin-bottom: 0px; margin-top: 0.15em;" type="text" name="sellCurrencyRight" ng-model="manualSellCurrencyRight" smart-float />
									</div>
								</div>
								<div class="span2" style="background: #ededed; margin-bottom: 0.2em;">
									<div style="margin: 0.3em;" class="control-group" ng-class="{ error: manualSellCurrencyLeft == undefined }">
										{{user.currentTradingSession.currencyLeft|uppercase}} [<a href="" ng-click="manualSellCurrencyLeft = user.currentTradingSession.fundsLeft">All</a>] [<a href="" ng-click="manualSellCurrencyLeft = user.currentTradingSession.fundsLeft/2">1/2</a>]
										<br/>
										<input style="width: 100%; margin-bottom: 0px; margin-top: 0.15em;" type="text" name="sellCurrencyLeft" ng-model="manualSellCurrencyLeft" smart-float />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="span4" style="margin-bottom: 0.7em;">
									<button style="width: 100%; margin-top: 0.15em;" ng-click="manualTransaction('sell')">
										Sell
									</button>
								</div>
							</div>
						</div>
						
						</form>

					</div>
				
				</div>

			</div>

			<div class="row">
				<div class="span4" style="font-size: 2.0em;">
					<b>{{user.currentTradingSession.currencyLeft|uppercase}}</b>
					{{user.currentTradingSession.fundsLeft|truncate:6:""}}
				</div>
				<div class="span4" style="text-align: center;">
					<b>HI</b> {{user.currentTradingSession.rate.buy|truncate:6:""}}
					<div style="display: inline; font-size: 2.0em;">
						{{user.currentTradingSession.rate.last|truncate:6:""}}
					</div>
					{{user.currentTradingSession.rate.sell|truncate:6:""}} <b>LO</b>
				</div>
				<div class="span4" style="font-size: 2.0em; text-align: right;">
					<b>{{user.currentTradingSession.currencyRight|uppercase}}</b>
					{{user.currentTradingSession.fundsRight|truncate:6:""}}
				</div>
			</div>

			<div class="row">
				<div class="span6">
					<div style="display: inline; float: left;">
						<input ng-model="newFundsLeft" style="width: 5.0em; margin-bottom: 0px; margin-top: 0.15em; padding: 10px 6px;" type="text" />
						<button style="width: 3.0em; margin-top: 0.15em; padding: 0px;" ng-click="setFundsLeft()">
							Set
						</button>
					</div>
					<div style="display: inline; float: left; padding-top: 0.3em;">
						<div ng-hide="!user.live">
							<span style="margin-left: 0.5em;"> <a href="" ng-click="newFundsLeft = user.funds[user.currentTradingSession.currencyLeft] + user.currentTradingSession.fundsLeft">Max</a> {{ (user.funds[user.currentTradingSession.currencyLeft] + user.currentTradingSession.fundsLeft)|truncate:6:"" }} {{user.currentTradingSession.currencyLeft|uppercase}} </span>
						</div>
						<div style="color: red; padding-left: 0.5em;" ng-hide="user.live">
							Unlimited
						</div>
					</div>
				</div>
				
				<div class="span6" style="text-align: right;">
					<div style="display: inline; float: right;">
						<button style="width: 3.0em; margin-top: 0.15em; padding: 0px;" ng-click="setFundsRight()">
							Set
						</button>
						<input ng-model="newFundsRight" style="width: 5.0em; margin-bottom: 0px; margin-top: 0.15em; padding: 10px 6px;" type="text" />
					</div>
					<div style="display: inline; float: right; padding-top: 0.3em;">
						<div ng-hide="!user.live">
							<span style="margin-right: 0.5em;"> <a href="" ng-click="newFundsRight = user.funds[user.currentTradingSession.currencyRight] + user.currentTradingSession.fundsRight">Max</a> {{ (user.funds[user.currentTradingSession.currencyRight] + user.currentTradingSession.fundsRight)|truncate:6:"" }} {{user.currentTradingSession.currencyRight|uppercase}} </span>
						</div>
						<div style="color: red; padding-right: 0.5em;" ng-hide="user.live">
							Unlimited
						</div>
						
					</div>
				</div>
			
			</div>

			<div class="row">

				<div class="span6">

					<div class="row" style="margin-top: 1.0em;">

						<div class="span3">
							<b>{{user.currentTradingSession.currencyLeft|uppercase}} CASHOUT:</b> {{currencyLeftCashout()|truncate:6:""}}
						</div>

						<div class="span3">
							<b>{{user.currentTradingSession.currencyLeft|uppercase}} REVENUE:</b> {{user.currentTradingSession.profitLeft|truncate:6:""}}
						</div>

					</div>

				</div>

				<div class="span6">

					<div class="row" style="margin-top: 1.0em;">

						<div class="span3" style="text-align: right;">
							<b>{{user.currentTradingSession.currencyRight|uppercase}} CASHOUT:</b> {{currencyRightCashout()|truncate:6:""}}
						</div>

						<div class="span3" style="text-align: right;">
							<b>{{user.currentTradingSession.currencyRight|uppercase}} REVENUE:</b> 0
						</div>

					</div>

				</div>

			</div>

			<div ng-include src="'parts/txLog.html'"></div>
			
			<div class="row" style="margin-top: 4.0em;">

				<div class="span12" styl="text-align: center;">

					Refresh in {{refreshCounter}} seconds.

				</div>

			</div>

		</div>

	</div>

</div>