<div class="row" ng-controller="TxLogCtrl" style="margin-top: 2.0em;">

	<div class="col-md-12">
	
		<div class="row" style="margin-bottom: 1.0em;">
		
			<div class="col-md-12" style="border-top: 1px solid black; background: #ededed; text-align: center;">
				MANUAL ORDERS
			</div>
			
		</div>

		<div class="row">

			<div class="col-md-6">

				<div class="row">
					<div class="col-md-12">
						<b>MY SELLS</b>
					</div>
				</div>

				<div class="row" style="margin-top: 0.7em;">
					<div class="col-md-9">
					<div class="row">
					<div class="col-md-3">
						<a href=""
							ng-click="sellSort='amount'; sellSortReverse=!sellSortReverse">{{user.currentTradingSession.currencyRight|uppercase}}</a>
					</div>
					<div class="col-md-3">
						<a href=""
							ng-click="sellSort='amount'; sellSortReverse=!sellSortReverse">{{user.currentTradingSession.currencyLeft|uppercase}}</a>
					</div>
					<div class="col-md-3">
						<a href=""
							ng-click="sellSort='rate'; sellSortReverse=!sellSortReverse">RATE</a>
					</div>
					<div class="col-md-3">
						<a href=""
							ng-click="sellSort=sellProfit; sellSortReverse=!sellSortReverse">PROFIT</a>
						(<a href="" ng-click="changeProfitFormat('sell')">{{otherProfitFormat('sell')}}</a>)
					</div>
					</div>
					</div>
				</div>

				<div class="row" ng-hide="sell.reversedOrder != null"
					style="margin-bottom: 0.1em;"
					ng-repeat="sell in transactions['sell']['manual'] | orderBy:sellSort:!sellSortReverse">

					<div class="col-md-9"
						ng-class="{ profitBorder: sellProfit(sell, '$') >= 0, lossBorder: sellProfit(sell, '$') < 0 }"
						style="position: relative;">

						<div class="orderFill customstyle"
							ng-class="{ profitFill: sellProfit(sell, '$') >= 0, lossFill: sellProfit(sell, '$') < 0 }"
							my-width="sell.filledAmount / sell.brokerAmount"></div>

						<div class="transparentCover" ng-hide="!sell.isReversed"></div>

						<div class="row">
							<div class="col-md-3">{{sell.amount|truncate:6:""}}</div>
							<div class="col-md-3">
								{{(sell.rate*sell.amount)|truncate:6:""}}</div>
							<div class="col-md-3">{{sell.rate|truncate:6:""}}</div>
							<div class="col-md-3">{{sellProfit(sell,
								sellProfitFormat)|truncate:6:""}}{{sellProfitFormat}}</div>
						</div>

					</div>

					<div class="col-md-3"
						style="margin-left: 0px; padding-left: 0.5em;"
						ng-hide="!sell.isFilled">
						<a style="margin-left: 1.0em;" href="" ng-show="sellProfit(sell, '$') >= 0" ng-click="reverseTrade(sell, true)">Buy</a>
						<a href="" ng-click="removeTransaction(sell)">Forget</a>
					</div>

					<div class="col-md-2"
						style="margin-left: 0px; width: 6em; padding-left: 0.5em;"
						ng-hide="sell.isFilled">
						<a style="margin-left: 1.0em;" href=""
							ng-click="cancelTrade(sell)">Cancel</a>
					</div>

				</div>

			</div>

			<div class="col-md-6">

				<div class="row">
					<div class="col-md-12">
						<b>MY BUYS</b>
					</div>
				</div>

				<div class="row" style="margin-top: 0.7em;">
					<div class="col-md-9">
					<div class="row">
					<div class="col-md-3">
						<a href=""
							ng-click="buySort='amount'; buySortReverse=!buySortReverse">{{user.currentTradingSession.currencyRight|uppercase}}</a>
					</div>
					<div class="col-md-3">
						<a href=""
							ng-click="buySort='amount'; buySortReverse=!buySortReverse">{{user.currentTradingSession.currencyLeft|uppercase}}</a>
					</div>
					<div class="col-md-3">
						<a href=""
							ng-click="buySort='rate'; buySortReverse=!buySortReverse">RATE</a>
					</div>
					<div class="col-md-3">
						<a href=""
							ng-click="buySort=buyProfit; buySortReverse=!buySortReverse">PROFIT</a>
						(<a href="" ng-click="changeProfitFormat('buy')">{{otherProfitFormat('buy')}}</a>)
					</div>
					</div>
					</div>
					
				</div>

				<div class="row" ng-hide="buy.reversedOrder != null"
					style="margin-bottom: 0.1em;"
					ng-repeat="buy in transactions['buy']['manual'] | orderBy:buySort:!buySortReverse">

					<div class="col-md-9"
						ng-class="{ profitBorder: buyProfit(buy, '$') >= 0, lossBorder: buyProfit(buy, '$') < 0 }"
						style="position: relative;">

						<div class="orderFill customstyle"
							ng-class="{ profitFill: buyProfit(buy, '$') >= 0, lossFill: buyProfit(buy, '$') < 0 }"
							my-width="buy.filledAmount / buy.brokerAmount"></div>

						<div class="transparentCover" ng-hide="!buy.isReversed"></div>

						<div class="row">
							<div class="col-md-3">{{buy.amount|truncate:6:""}}</div>
							<div class="col-md-3">{{(buy.rate*buy.amount)|truncate:6:""}}
							</div>
							<div class="col-md-3">{{buy.rate|truncate:6:""}}</div>
							<div class="col-md-3">{{buyProfit(buy,
								buyProfitFormat)|truncate:6:""}}{{buyProfitFormat}}</div>
						</div>

					</div>

					<div class="col-md-3"
						style="margin-left: 0px; padding-left: 0.5em;"
						ng-hide="!buy.isFilled">
						<a style="margin-left: 1.0em;" href="" ng-show="buyProfit(buy, '$') >= 0" ng-click="reverseTrade(buy, true)">Sell</a>
						<a href="" ng-click="removeTransaction(buy)">Forget</a>
					</div>

					<div class="col-md-2"
						style="margin-left: 0px; width: 6em; padding-left: 0.5em;"
						ng-hide="buy.isFilled">
						<a style="margin-left: 1.0em;" href="" ng-click="cancelTrade(buy)">Cancel</a>
					</div>

				</div>

			</div>

		</div>
		
		<div class="row" style="margin-bottom: 1.0em; margin-top: 2.0em;">
		
			<div class="col-md-12" style="border-top: 1px solid black; background: #ededed; text-align: center;">
				AUTO ORDERS
			</div>
			
			
		</div>
		
		<div class="row" ng-show="user.currentTradingSession.errors['auto'].length > 0" style="margin-bottom: 1em; margin-top: 1em;">
		
			<div class="col-md-11" style="text-align: center; border: 1px red solid; background: #fffacd;">
				An error occured in auto trading. It may be caused by your auto trading settings or {{serviceName}} malfunction.
				<br/><br/>
				Error message: <b>{{user.currentTradingSession.errors['auto'][0].message}}</b>
			</div>
			<div class="col-md-1" style="text-align: right; margin-left: 0px;">
				<br/>
				<a href="" ng-click="clearSessionErrors('auto')">Close</a>
			</div>
			
		</div>
			
		<div class="row">

			<div class="col-md-6">

				<div class="row">
					<div class="col-md-12">
						<b>MY SELLS</b>
					</div>
				</div>

				<div class="row" style="margin-top: 0.7em;">
				
					<div class="col-md-9">
					<div class="row">
					<div class="col-md-3">
						<a href=""
							ng-click="sellSort='amount'; sellSortReverse=!sellSortReverse">{{user.currentTradingSession.currencyRight|uppercase}}</a>
					</div>
					<div class="col-md-3">
						<a href=""
							ng-click="sellSort='amount'; sellSortReverse=!sellSortReverse">{{user.currentTradingSession.currencyLeft|uppercase}}</a>
					</div>
					<div class="col-md-3">
						<a href=""
							ng-click="sellSort='rate'; sellSortReverse=!sellSortReverse">RATE</a>
					</div>
					<div class="col-md-3">
						<a href=""
							ng-click="sellSort=sellProfit; sellSortReverse=!sellSortReverse">PROFIT</a>
						(<a href="" ng-click="changeProfitFormat('sell')">{{otherProfitFormat('sell')}}</a>)
					</div>
					</div>
					</div>
					
				</div>

				<div class="row" ng-hide="sell.reversedOrder != null"
					style="margin-bottom: 0.1em;"
					ng-repeat="sell in transactions['sell']['auto'] | orderBy:sellSort:!sellSortReverse">

					<div class="col-md-9"
						ng-class="{ profitBorder: sellProfit(sell, '$') >= 0, lossBorder: sellProfit(sell, '$') < 0 }"
						style="position: relative;">

						<div class="orderFill customstyle"
							ng-class="{ profitFill: sellProfit(sell, '$') >= 0, lossFill: sellProfit(sell, '$') < 0 }"
							my-width="sell.filledAmount / sell.brokerAmount"></div>

						<div class="transparentCover" ng-hide="!sell.isReversed"></div>

						<div class="row">
							<div class="col-md-3">{{sell.amount|truncate:6:""}}</div>
							<div class="col-md-3">
								{{(sell.rate*sell.amount)|truncate:6:""}}</div>
							<div class="col-md-3">{{sell.rate|truncate:6:""}}</div>
							<div class="col-md-3">{{sellProfit(sell,
								sellProfitFormat)|truncate:6:""}}{{sellProfitFormat}}</div>
						</div>

					</div>

					<div class="col-md-3"
						style="margin-left: 0px; padding-left: 0.5em;"
						ng-hide="!sell.isFilled">
						<a style="margin-left: 1.0em;" href="" ng-show="sellProfit(sell, '$') >= 0" ng-click="reverseTrade(sell, true)">Buy</a>
						<a href="" ng-click="removeTransaction(sell)">Forget</a>
					</div>

					<div class="col-md-2"
						style="margin-left: 0px; width: 6em; padding-left: 0.5em;"
						ng-hide="sell.isFilled">
						<a style="margin-left: 1.0em;" href=""
							ng-click="cancelTrade(sell)">Cancel</a>
					</div>

				</div>

			</div>

			<div class="col-md-6">

				<div class="row">
					<div class="col-md-12">
						<b>MY BUYS</b>
					</div>
				</div>

				<div class="row" style="margin-top: 0.7em;">
					<div class="col-md-9">
					<div class="row">
					<div class="col-md-3">
						<a href=""
							ng-click="buySort='amount'; buySortReverse=!buySortReverse">{{user.currentTradingSession.currencyRight|uppercase}}</a>
					</div>
					<div class="col-md-3">
						<a href=""
							ng-click="buySort='amount'; buySortReverse=!buySortReverse">{{user.currentTradingSession.currencyLeft|uppercase}}</a>
					</div>
					<div class="col-md-3">
						<a href=""
							ng-click="buySort='rate'; buySortReverse=!buySortReverse">RATE</a>
					</div>
					<div class="col-md-3">
						<a href=""
							ng-click="buySort=buyProfit; buySortReverse=!buySortReverse">PROFIT</a>
						(<a href="" ng-click="changeProfitFormat('buy')">{{otherProfitFormat('buy')}}</a>)
					</div>
					</div>
					</div>
					
					<div class="col-md-3"></div>
					
				</div>

				<div class="row" ng-hide="buy.reversedOrder != null"
					style="margin-bottom: 0.1em;"
					ng-repeat="buy in transactions['buy']['auto'] | orderBy:buySort:!buySortReverse">

					<div class="col-md-9"
						ng-class="{ profitBorder: buyProfit(buy, '$') >= 0, lossBorder: buyProfit(buy, '$') < 0 }"
						style="position: relative;">

						<div class="orderFill customstyle"
							ng-class="{ profitFill: buyProfit(buy, '$') >= 0, lossFill: buyProfit(buy, '$') < 0 }"
							my-width="buy.filledAmount / buy.brokerAmount"></div>

						<div class="transparentCover" ng-hide="!buy.isReversed"></div>

						<div class="row">
							<div class="col-md-3">{{buy.amount|truncate:6:""}}</div>
							<div class="col-md-3">{{(buy.rate*buy.amount)|truncate:6:""}}
							</div>
							<div class="col-md-3">{{buy.rate|truncate:6:""}}</div>
							<div class="col-md-3">{{buyProfit(buy,
								buyProfitFormat)|truncate:6:""}}{{buyProfitFormat}}</div>
						</div>

					</div>

					<div class="col-md-3"
						style="margin-left: 0px; padding-left: 0.5em;"
						ng-hide="!buy.isFilled">
						<a style="margin-left: 1.0em;" href="" ng-show="buyProfit(buy, '$') >= 0" ng-click="reverseTrade(buy, true)">Sell</a> 
						<a href="" ng-click="removeTransaction(buy)">Forget</a>
					</div>

					<div class="col-md-3"
						style="margin-left: 0px; padding-left: 0.5em;"
						ng-hide="buy.isFilled">
						<a style="margin-left: 1.0em;" href="" ng-click="cancelTrade(buy)">Cancel</a>
					</div>

				</div>

			</div>

		</div>

	</div>
	

</div>
