@CHARSET "ISO-8859-1";

.hidden {
	display: none;
	visibility: hidden;
}

.visible {
	display: block;
	visibility: visible;
}

.disabled {
	disabled: true;
}

.enabled {
	disabled: false;
}

.orderFill {
	position: absolute;
	height: 100%;
	z-index: -1;
}

.profitBorder {
	border: 1px solid #80D080;
}

.profitFill {
	background: #80D080;
}

.lossBorder {
	border: 1px solid #D08080;
}

.lossFill {
	background: #D08080;
}

.transparentCover {
	opacity: 0.5;
	background: #FFFFFF;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 2;
}