@CHARSET "ISO-8859-1";

.hidden {
	display: none;
	visibility: hidden;
}

.visible {
	display: block;
	visibility: visible;
}

.disabled {
	disabled: true;
}

.enabled {
	disabled: false;
}

.orderFill {
	position: absolute;
	height: 100%;
	z-index: -1;
}

.profitBorder {
	border: 1px solid #80FF80;
}

.profitFill {
	background: #80FF80;
}

.lossBorder {
	border: 1px solid #FF8080;
}

.lossFill {
	background: #FF8080;
}
