@CHARSET "ISO-8859-1";

.hidden {
	display: none;
	visibility: hidden;
}

.visible {
	display: block;
	visibility: visible;
}

.disabled {
	disabled: true;
}

.enabled {
	disabled: false;
}

.orderFill {
	position: absolute;
	height: 100%;
	z-index: -1;
	margin-left: -15px;
}

.profitBorder {
	border: 1px solid #80D080;
}

.profitFill {
	background: #80D080;
}

.lossBorder {
	border: 1px solid #D08080;
}

.lossFill {
	background: #D08080;
}

.transparentCover {
	opacity: 0.5;
	background: #FFFFFF;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 2;
	margin-left: -15px;
}

input.ng-invalid {
	border: 2px solid red;
}

.onoffswitch1 {
    position: relative; width: 91px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch2 {
    position: relative; width: 120px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 5px;
}

.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 25px; padding: 0; line-height: 25px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner.sw1:before {
    content: "LIVE";
    padding-left: 15px;
    background-color: #E31414; color: #FFFFFF;
}

.onoffswitch-inner.sw1:after {
    content: "TEST";
    padding-right: 15px;
    background-color: #C2C2C2; color: #FFFFFF;
    text-align: right;
}

.onoffswitch-inner.sw2:before {
    content: "MANUAL";
    padding-left: 15px;
    background-color: #E31414; color: #FFFFFF;
}

.onoffswitch-inner.sw2:after {
    content: "AUTO";
    padding-right: 28px;
    background-color: #C2C2C2; color: #FFFFFF;
    text-align: right;
}

.onoffswitch-switch {
    width: 32px; margin: -3.5px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 5px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}

.t1 {
	position: absolute; top: 0; bottom: 0; right: 62px;
}

.t2 {
	position: absolute; top: 0; bottom: 0; right: 92px;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
