#document {
	border: 1px dashed red;
}

header, footer {
	padding: 6px;
}

header {
	height: 80px;
}

footer {
	height: 50px;
	border-top: 1px solid black;
}

h2 {
	display: inline;
}

div.spacer {
	
	clear: both; 
	height: 0px;
	display: block;
	
}

header .logo {
	
	font-family: 'Lato', sans-serif;
    font-size: 2.5em;
    margin-top: 10px;
    
}

#content {
	
	width: 100%;
	
	min-height: 400px;
	
}


#leftSection {
	
	float: left;
	
	display: inline-block;
	
	width: 28%;
	height: 100%;
	
	padding-top: 1.0em;
	padding-left: 2.4em;
	padding-right: 2.0em;
	
	min-height: 600px;
	
}

#centerSection {
	
	float: left;
	
	display: inline-block;
	
	width: 100%;
	position: relative;
	/*border: 1px solid green;*/
}

#centerSection .centerSectionContent {
	
	position: relative;
	height: 500px;
	font-size: 1.2em;
	/*border: 1px solid blue;*/
   	
}


.placeInput {
	display: inline;
	position: relative;
}

.placeInput a {
	font-size: 1.0em;
	color: black;
	text-decoration: underline;
}

.placeInput input {
	margin-bottom: 0px;
	width: 100%;
}

#centerSection .title {
	
	position: relative;
	display: inline-block;
	font-size: 1.8em;
	height: 40px;
	width: 40%;
	margin-top: 0.2em;
	
}

#centerSection .contentControl {
	
	position: relative;
	display: inline-block;
	float: right;
	font-size: 1.8em;
	height: 40px;
	margin-top: 0.2em;
	padding-right: 2.0em;
	
}

#centerSection .title span {
	position: absolute;
	top: 50%;
	margin-top: -0.5em;
}

#centerSection .controlItem {
	display: inline;	
}

.leftSectionHeader .otherMenuLink {
	
	position: relative;
	height: 40px;
	width: 40%;
	display: inline;
	float: right;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-right: 0px;
	
}

.leftSectionHeader .otherMenuLink a {
	
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -30px;

}

.entryType {
	position: relative;
	margin-top: 0.6em;
	margin-bottom: 1.0em;
	overflow: hidden;
}

.entryType .typeInfo {
	width: 100%;
	margin-top: 12px;
	display: inline-block;
}

.entryType .entryTypeSelect {
	display: inline-block;
	width: 100%;
}

.entryType .entryTypeSelect .left {
	display: inline;
	float: left;
	width: 49%;
	text-align: center;
}


.entryType .entryTypeSelect .right {
	display: inline;
	float: right;
	width: 49%;
	text-align: center;
}

.onMyTrip {
	margin-top: 16px;	
}

.onMyTrip a.tripTitle {
	color: #808080;
}

.onMyTrip .left {
	display: inline-block;
	width: 80%;
}

.onMyTrip .right {
	margin-right: 10px;
	display: inline-block;
	float: right;
	font-size: 0.8em;
}

.onMyTrip .right a {
	color: black;
	font-size: 0.8em;
}

.routeInfoInput {
	width: 100%;
	padding-bottom: 6.0em;
}

.tripleColumn {
	
	display: inline-block;
	margin-top: 1.2em;
	width: 100%;
	
}

.tripleColumn .columnLeft {
	min-width: 3.0em;
	display: inline-block;
	padding-right: 0.2em;
}

.tripleColumn .columnCenter {
	width: 70%;
	max-width: 20em;
	display: inline-block;
	text-align: center;
	position: relative;
	height: 1.0em;
}

.tripleColumn .columnRight {
	font-size: 0.9em;
	position: absolute;
	max-width: 37%;
	display: inline-block;
	padding-left: 2.0em;
	padding-right: 1.6em;
}

.mediumButton {
	
	font-size: 0.8em;
	
}

.other .label {
	text-align: right;
	width: 40%;
	display: inline-block;	
}

.other .input {
	font-size: 0.8em;
	display: inline;	
}

.placeAutocompleteBox { 
	background: white; 
	position: absolute;
	display: none;
	visibility: hidden;
	width: 100%;
	z-index: 1;
}

.placeAutocompleteBox a {
	color: black; 
	font-size: 0.8em;
	text-decoration: underline;
	cursor: hand; 
	cursor: pointer;
}

.visible {
	display: block;
	visibility: visible;
}

.selectList {
	
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	
}

.selectList .selectListItem {
	
	display: inline-block;
	color: #808080;
	cursor: hand;
	cursor: pointer;
	font-size: 1.0em;
	
}

.selectList a {
	
	display: inline;
	color: #808080;
	cursor: hand;
	cursor: pointer;
	font-size: 1.0em;
	
}

.selectList .selectListItem.selected {
	
	font-size: 1.2em;
	color: black;
	margin-top: -0.2em;
	
}

.halfWidth {
	width: 48%;
}

.nooverflow {
	
	position: absolute;
	width: 99%;
	margin-top: -100%;
	width: 100%;
	opacity: 0;
	background: white;
	
}

.searchBox {
	
	/*-webkit-transform: perspective(600px) translateY(-340px) translateZ(-180px) rotateX(90deg);*/
	background: white;
	border: 1px solid black;
	
}

.searchBox .top {
	display: block;	
}

.searchBox .left {
	position: relative;
	display: inline-block;
	width: 48%;
}

.searchBox .left .map {
	height: 20em;
	background: #808080;
}

.searchBox .left .searchInput {
	width: 90%;
	top: 0.2em;
	left: 5%;
	position: absolute;
	z-index: 1;
}

.searchBox .left .searchInput input {
	margin-left: -6px;
}

.searchBox .right {
	display: inline-block;
	width: 50%;	
	float: right;
}

.searchBox .latTitle {
	text-align: center;
}

.searchBox .partResults {
	text-align: center;	
}

.searchResults {
	margin-top: 1.6em;
	width: 100%;
}

.searchResults .item {
	border-top: 1px solid black; 
	border-right: 1px solid black; 
	border-left: 1px solid black;
	padding-left: 1.0em;
}

.searchResults .item .by {
	font-style: italic;
	font-size: 0.8em;	
}

.searchResults .item a {
	color: black;
}

.searchPlace {
	width: 100%;
	text-align: center;
	display: inline-block;	
}

.withOverflow {
	
	overflow: hidden;
	position: absolute;
	width: 100%;
	margin-left: -100%;
	background: white;

}

.slideIn {
	
	opacity: 1;
	width: 100%;
	margin-top: 0px;
	-webkit-transition: margin-top 1s;
	
}

.slideOut {
	
	width: 100%;
	margin-top: 0px;
	opacity: 0;
	-webkit-transition: opacity 0s;
  	
}

.rollOut {
	
	-webkit-transform: perspective(600px) translateY(-340px) translateZ(-180px) rotateX(90deg);
	-webkit-transition: -webkit-transform 1s;
	
}

.rollIn {
	
	-webkit-transform: perspective(600px) translateY(0px) translateZ(0px) rotateX(0deg);
	-webkit-transition: -webkit-transform 1s;
	
}

.searchResultsSlideUp {
	
	top: 22em;
  	-webkit-transition: top 1s;
  	
}

.searchResultsSlideDown {
	
	top: 600px;
  	-webkit-transition: top 1s;
  	
}

.handCursor {
	cursor: hand; 
	cursor: pointer;	
}

.byId {
	
	width: 100%; 
	padding: 4px 0px; 
	margin-top: 0px;	
	
}

.byDepTime {
	width: 18%; 
	padding: 4px 0px; 
	margin-top: 0px; 
	display: inline; 
	float: left; 
	margin-top: -0.2em;
}

.byArrTime {
	width: 18%; 
	padding: 4px 0px; 
	margin-top: 0px; 
	display: inline; 
	float: left; 
	margin-top: -0.2em; 
	margin-left: 0.4em;
}

.byAddDays {
	width: 6%; 
	padding: 4px 0px; 
	margin-top: 0px; 
	display: inline; 
	float: left; 
	margin-top: -0.2em;
}

.scheduleInfo {
	width: 100%; 
	padding: 4px 0px; 
	margin-top: 0px;
}

.cost {
	width: 100%;
	padding: 4px 0px; 
	margin-top: 0px;
}

.depDate {
	display: inline;
	margin-right: -14px;
}

.depDateYear {
	width: 4.0em; 
	padding: 4px 0px; 
	display: inline; 
	float: left; 
	margin-top: -0.2em; 
	margin-right: 0.5em;
}

.depDateMonth {
	width: 2.0em; 
	padding: 4px 0px; 
	display: inline; 
	float: left; 
	margin-top: -0.2em; 
	margin-right: 0.5em;
}

.depDateDay {
	width: 2.0em; 
	padding: 4px 0px; 
	display: inline; 
	float: left; 
	margin-top: -0.2em;
}
