body {
	
	font: normal 16px/1.5em helvetica, arial, sans-serif; 
	margin: 0; 
	width: 100%;

}

header, footer {
	
	height: 50px; 
	padding: 6px;
	background: #777;
	
}

div.spacer {
	
	clear: both; 
	height: 0px;
	display: block;
	
}

header h1 {
	
	margin: 0px;
	font-family: Verdana, Helvetica, sans-serif;
	font-weight: bold;
    font-size: 2.0em;
    
}

#content {
	
	width: 100%;
	min-height: 600px;
	overflow: hidden;
	
	display: block;
	
	
}

#leftSection {
	
	float: left;
	margin-bottom: -99999px;
	padding-bottom: 99999px;
	
	width: 38%;
	padding-top: 10px;
	padding-left: 10px;
	
	background: #ccc;

}

#leftSection h1 {
	
	margin: 0px;
	font-family: Helvetica, sans-serif;
    font-size: 1.4em;
    line-height: 2.0em;
   	
}

#leftSection p {
	
 	font: 400 16px/1.6 'Lora', Georgia, serif;
	
}

#centerSection {
	
	float: left;
	margin-bottom: -99999px;
	padding-bottom: 99999px;
	
}
