body {
	
	font: normal 16px/1.5em helvetica, arial, sans-serif; 
	margin: 0; 
	width: 100%;
	min-width: 600px;

}

header, footer {
	padding: 6px;
}

header {
	height: 80px;
}

footer {
	height: 50px;
	border-bottom: 1px solid black;
}

div {
	background: white;
}

h2 {
	display: inline;
}

div.spacer {
	
	clear: both; 
	height: 0px;
	display: block;
	
}

header .logo {
	
	font-family: 'Lato', sans-serif;
    font-size: 2.5em;
    margin-top: 10px;
    
}

#content {
	
	width: 100%;
	
	min-height: 600px;
	
}


#leftSection {
	
	float: left;
	
	display: inline-block;
	
	width: 28%;
	height: 100%;
	
	padding-top: 1.0em;
	padding-left: 2.4em;
	padding-right: 2.0em;
	
	min-height: 600px;
	
}

#centerSection {
	
	float: left;
	
	display: inline-block;
	/*border: 1px dotted black;*/
	
	width: 64%;
	min-height: 600px;
	
	overflow-x: hidden;
	
}

#centerSection .centerSectionContent {
	
	position: relative;
	margin-top: 1.4em;
	margin-left: 2.0em;
	margin-right: 2.0em;
	height: 500px;
	overflow: hidden;
   	
}


.placeInput {
	display: inline;
}

.placeInput a {
	font-size: 1.0em;
	color: black;
	text-decoration: underline;
}

.placeInput input {
	background-color: transparent; 
	border-style: solid; 
	border-width: 0px 0px 1px 0px; 
	border-color: black;
	outline: 0px;
	width: 100%;
}

#centerSection .title {
	
	position: relative;
	font-size: 1.8em;
	height: 40px;
	width: 50%;
	display: block;
	margin-left: 1.0em;
	margin-top: 0.2em;
	
}

#centerSection .title span {
	position: absolute;
	top: 50%;
	margin-top: -0.5em;
}

.leftSectionHeader .otherMenuLink {
	
	position: relative;
	height: 40px;
	width: 40%;
	display: inline;
	float: right;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-right: 0px;
	
}

.leftSectionHeader .otherMenuLink a {
	
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -30px;

}

.haveTravelled {
	text-align: center;
	position: relative;
	border-bottom: 1px solid black;
	margin-top: 0.3em;
	margin-left: 0px;
	height: 2.0em;
	overflow: hidden;
}

.haveTravelled .left {
	height: 2.0em;
	left: 0px;
	position: absolute;
	display: inline-block;
	width: 50%;
}


.haveTravelled .right {
	height: 2.0em;
	margin-right: 1px;
	position: absolute;
	left: 50%;
	display: inline-block;
	width: 50%;
}


.onMyTrip {
	margin-top: 16px;	
}

.onMyTrip a.tripTitle {
	color: #808080;
}

.onMyTrip .left {
	display: inline-block;
	width: 80%;
}

.onMyTrip .right {
	margin-right: 10px;
	display: inline-block;
	float: right;
	font-size: 0.8em;
}

.onMyTrip .right a {
	color: black;
	font-size: 0.8em;
}

.routeInfoInput {
	
	font-size: 1.2em;
	
	width: 100%;
	
}

.routeInfoInput .tripleColumn {
	
	margin-top: 0.6em;
	width: 100%;
	
}

.routeInfoInput .tripleColumn .columnLeft {
	width: 25%;
	display: inline-block;
}

.routeInfoInput .tripleColumn .columnCenter {
	width: 44%;
	display: inline-block;
	text-align: center;
}

.routeInfoInput .tripleColumn .columnRight {
	width: 25%;
	display: inline-block;
}

.mediumButton {
	
	font-size: 0.8em;
	
}

.other .label {
	text-align: right;
	width: 40%;
	display: inline-block;	
}

.other .input {
	font-size: 0.8em;
	display: inline;	
}

.placeAutocompleteBox {
	border: 1px solid black; 
	background: white; 
	position: absolute;
	padding: 6px;
	display: none;
	visibility: hidden;
}

.placeAutocompleteBox a {
	color: black; 
	font-size: 0.8em;
	text-decoration: underline;
	cursor: hand; 
	cursor: pointer;
}

.visible {
	display: block;
	visibility: visible;
}

.selectList {
	
}

.selectList .selectListItem {
	
	display: inline;
	color: #808080;
	cursor: hand;
	cursor: pointer;
	
}

.selectList .selectListItem.selected {
	
	font-size: 1.2em;
	color: black;
	
}

.nooverflow {
	
	overflow: hidden;
	border: 1px solid black;
	position: absolute;
	width: 99%;
	min-height: 400px;
	
}
