<html lang="en" ng-app="myApp">

	<head>

		<meta charset="utf-8">
		<title>FLUX</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Le styles -->
		<link href="css/bootstrap.css" rel="stylesheet">
		<style>
			body {
				padding-top: 60px;
				/* 60px to make the container go all the way to the bottom of the topbar */
			}
		</style>
		<link href="css/bootstrap-responsive.css" rel="stylesheet">
		<link href="css/flux.css" rel="stylesheet">

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
		<script src="js/libs/canvasjs.min.js"></script>
		<script src="js/libs/hmac-sha512.js"></script>
		<script src="js/libs/bootstrap.js"></script>

		<script src="js/btce.js"></script>
		<script src="js/app.js"></script>
		<script src="js/admin.js"></script>
		<script src="js/admin-directives.js"></script>

	</head>

	<body ng-controller="AdminCtrl">

		<div class="container">

			<div class="row" style="margin-bottom: 0.3em;">
				
				<div class="span12" style="background: #808080; color: white; height: 4.2em;">
					
					<div class="row">
						
						<div class="span3" style="font-size: 1.6em; padding-top: 0.4em;">
							<span style="margin-left: 0.3em; top: 50%; margin-top: 0.8em;">[xTrade logo]</span>
						</div>

						<div class="span6" style="text-align: center;">
							
						</div>

						<div class="span3" style="text-align: right; padding-top: 0.3em;">
							
							ADMIN UI
							
						</div>
				
					</div>
					
				</div>

			</div>
		
			<div class="row">
				<div class="span12">
					BTC-E transfer requests
				</div>
			</div>
			
			<div class="row" ng-repeat="req in btceTxReqs">
				<div class="span10">
					Transfer {{req.amount}} {{req.currency}} to {{req.address}}{{req.receiverWalletId}}
				</div>
				<div class="span2">
					<button ng-show="req.state == 'readyTransferBtce' || req.state == 'transferReqBtce'" ng-click="setTransactionState(req.id, 'transferBtce')">Start transfer</button>
					<button ng-show="req.state == 'transferBtce'" ng-click="setTransactionState(req.id, 'confirmedAddBtce')">Complete</button>
				</div>
			</div>
			
		</div>

	</body>

</html>