@CHARSET "ISO-8859-1";

.profit {
	
	background: #80FF80;
	
}

.loss {
	
	background: #FF8080;
	
}

.hidden {
	display: none;
	visibility: hidden;
}

.visible {
	display: block;
	visibility: visible;
}

.disabled {
	disabled: true;
}

.enabled {
	disabled: false;
}
