<html lang="en" ng-app="myApp">

	<head>

		<meta charset="utf-8">
		<title>FLUX</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Le styles -->
		<link href="css/bootstrap.css" rel="stylesheet">
		<style>
			body {
				padding-top: 60px;
				/* 60px to make the container go all the way to the bottom of the topbar */
			}
		</style>
		<link href="css/bootstrap-responsive.css" rel="stylesheet">
		<link href="flux.css" rel="stylesheet">

		<script src="jquery-1.9.1.min.js"></script>
		<script src="hmac-sha512.js"></script>
		<script src="angular.min.js"></script>

		<script src="btce.js"></script>
		<script src="flux2-ang.js"></script>

	</head>

	<body ng-controller="AppCtrl">

		<div class="container">
			
			<div class="row" style="margin-bottom: 2.0em;">
						
				<div class="span4" style="text-align: center;">
					<button ng-click="lowerPrice()">
						price--
					</button>
					<button ng-click="raisePrice()">
						price++
					</button>
				</div>
				<div class="span4" style="text-align: center;">
				</div>
				<div class="span4" style="text-align: center;">
					<button ng-click="removeMoney()">
						money--
					</button>
					<button ng-click="addMoney()">
						money++
					</button>
					<button style="margin-left: 1.0em;" ng-click="removeCoins()">
						coins--
					</button>
					<button ng-click="addCoins()">
						coins++
					</button>
				</div>
					
			</div>
			
			<div class="row" style="margin-bottom: 2.0em;">
						
				<div class="span12" style="text-align: center;">
					<b>RATE CHANGE:</b> {{rateChange}}
				</div>
					
			</div>
			
			<div class="row" style="margin-bottom: 2.0em;">
						
				<div class="span12" style="text-align: center;">
					
					<span>Profit target: </span>
					<input style="width: 4.0em;" type="text" ng-model="profitTarget"/>
					<span> USD</span>
					
					<span style="margin-left: 2.0em;">Trade chunk size: </span>
					<input style="width: 4.0em;" type="text" ng-model="tradeChunk"/>
					<span> LTC</span>
					
					<span style="margin-left: 2.0em;">Rate buffer: </span>
					<input style="width: 4.0em;" type="text" ng-model="rateBuffer"/>
					<span> LTC</span>
					
				</div>
					
			</div>
							
			<div class="row">

				<div class="span6">					
					
					<div class="row" style="margin-top: 1.0em;">
						
						<div class="span3">
							<b>USD CASHOUT:</b> {{usdCashout()|truncate:6:""}}
							<br/>
							<b>AVAILABLE USD:</b> {{usd|truncate:6:""}}
						</div>
						
						<div class="span3">
							<b>USD REVENUE:</b> {{usdRevenue|truncate:6:""}}
							<br/>
							<b>BUY RATE:</b> {{currentBuyPrice|truncate:6:""}}
						</div>
						
					</div>
					
					<div class="row" style="margin-top: 2.0em;">
						<div class="span6">
							<b>MY SELLS</b>
						</div>
					</div>
					
					<div class="row" style="margin-top: 0.7em;">
						<div class="span1">
							<a href="" ng-click="sellSort='amount'; sellSortReverse=!sellSortReverse">LTC</a>
    					</div>
    					<div class="span1">
							<a href="" ng-click="buySort='amount'; buySortReverse=!buySortReverse">USD</a>
    					</div>
    					<div class="span1">
    						<a href="" ng-click="sellSort='rate'; sellSortReverse=!sellSortReverse">RATE</a>
    					</div>
    					<div class="span2">
    						<a href="" ng-click="sellSort=sellProfit; sellSortReverse=!sellSortReverse">PROFIT</a>
    						(<a href="" ng-click="changeProfitFormat('sell')">{{otherProfitFormat('sell')}}</a>)
    					</div>
					</div>
					
					<div class="row"  ng-class="{ profit: sellProfit(sell) > 0, loss: sellProfit(sell) < 0 }" ng-repeat="sell in history.transactions['sell'] | orderBy:sellSort:!sellSortReverse">
						
						<div class="span1">
    						{{sell.amount|truncate:6:""}}
    					</div>
    					<div class="span1">
    						{{(sell.rate*sell.amount)|truncate:6:""}}
    					</div>
    					<div class="span1">
    						{{sell.rate|truncate:6:""}}
    					</div>
    					<div class="span1">
    						{{sellProfit(sell)|truncate:6:""}}{{sellProfitFormat}}
    					</div>
    					<div class="span2" style="background: white;">
    						<a style="margin-left: 1.0em;" href="" ng-click="reverseTrade(sell, true)">B</a>
    						<a href="" ng-click="reverseTrade(sell, false)">BR</a>
    						<a href="" ng-click="removeTransaction(sell)">R</a>
    					</div>
    					
					</div>
					
				</div>
				
				<div class="span6">
					
					<div class="row" style="margin-top: 1.0em;">
						
						<div class="span3">
							<b>LTC CASHOUT:</b> {{ltcCashout()|truncate:6:""}}
							<br/>
							<b>AVAILABLE LTC:</b> {{ltc|truncate:6:""}}
						</div>
						
						<div class="span3">
							<b>SELL RATE:</b> {{currentSellPrice|truncate:6:""}}
						</div>
						
					</div>
					
					<div class="row" style="margin-top: 2.0em;">
						<div class="span6">
							<b>MY BUYS</b>
						</div>
					</div>
					
					<div class="row" style="margin-top: 0.7em;">
						<div class="span1">
							<a href="" ng-click="buySort='amount'; buySortReverse=!buySortReverse">LTC</a>
    					</div>
    					<div class="span1">
							<a href="" ng-click="buySort='amount'; buySortReverse=!buySortReverse">USD</a>
    					</div>
    					<div class="span1">
    						<a href="" ng-click="buySort='rate'; buySortReverse=!buySortReverse">RATE</a>
    					</div>
    					<div class="span2">
    						<a href="" ng-click="buySort=buyProfit; buySortReverse=!buySortReverse">PROFIT</a>
    						(<a href="" ng-click="changeProfitFormat('buy')">{{otherProfitFormat('buy')}}</a>)
    					</div>
					</div>
					
					<div class="row" ng-class="{ profit: buyProfit(buy) > 0, loss: buyProfit(buy) < 0 }" ng-repeat="buy in history.transactions['buy'] | orderBy:buySort:!buySortReverse">
						
						<div class="span1">
    						{{buy.amount|truncate:6:""}}
    					</div>
    					<div class="span1">
    						{{(buy.rate*buy.amount)|truncate:6:""}}
    					</div>
    					<div class="span1">
    						{{buy.rate|truncate:6:""}}
    					</div>
    					<div class="span1">
    						{{buyProfit(buy)|truncate:6:""}}{{buyProfitFormat}}
    					</div>
    					<div class="span2" style="background: white;">
    						<a style="margin-left: 1.0em;" href="" ng-click="reverseTrade(buy, true)">S</a>
    						<a href="" ng-click="reverseTrade(buy, false)">SR</a>
    						<a href="" ng-click="removeTransaction(buy)">R</a>
    					</div>
    				
					</div>
				
				</div>
				
			</div>
			
			<div class="row" style="margin-top: 4.0em;">
				
				<div class="span12" styl="text-align: center;">
					
					Refresh in {{refreshCounter}} seconds.

					<br/>
					<br/>
					
					<button ng-click="start()">
						Start
					</button>
					
					<button ng-click="stop()">
						Stop
					</button>

				</div>
			
			</div>
		
		</div>

	</body>
	
</html>