<html lang="en" ng-app="myApp">

	<head>

		<meta charset="utf-8">
		<title>FLUX</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Le styles -->
		<link href="css/bootstrap.css" rel="stylesheet">
		<style>
			body {
				padding-top: 60px;
				/* 60px to make the container go all the way to the bottom of the topbar */
			}
		</style>
		<link href="css/bootstrap-responsive.css" rel="stylesheet">

		<script src="jquery-1.9.1.min.js"></script>
		<script src="hmac-sha512.js"></script>
		<script src="angular.min.js"></script>

		<script src="btce.js"></script>
		<script src="flux2-ang.js"></script>

	</head>

	<body ng-controller="AppCtrl">

		<div class="container">
			
			<div class="row" style="margin-bottom: 2.0em;">
						
				<div class="span6" style="text-align: center;">
					<button ng-click="lowerPrice()">
						price--
					</button>
					<button ng-click="raisePrice()">
						price++
					</button>
				</div>
				
				<div class="span6" style="text-align: center;">
					<button ng-click="addMoney()">
						money++
					</button>
					<button ng-click="addCoins()">
						coins++
					</button>
				</div>
					
			</div>
			
			<div class="row" style="margin-bottom: 2.0em;">
						
				<div class="span12" style="text-align: center;">
					<b>RATE CHANGE:</b> {{rateChange}}
				</div>
					
			</div>
							
			<div class="row">

				<div class="span6">					
					
					<div class="row" style="margin-top: 1.0em;">
						
						<div class="span3">
							<b>USD CASHOUT:</b> {{usdCashout()|truncate:6:""}}
							<br/>
							<b>AVAILABLE USD:</b> {{usd|truncate:6:""}} / <i>{{unusedUsd|truncate:6:""}}</i>
						</div>
						
						<div class="span3">
							<b>SELL RATE:</b> {{currentSellPrice|truncate:6:""}}
						</div>
						
					</div>
					
					<div class="row" style="margin-top: 2.0em;">
						<div class="span1">
							<a href="" ng-click="buySort='amount'; buySortReverse=!buySortReverse">AMOUNT</a>
    					</div>
    					<div class="span2">
    						<a href="" ng-click="buySort='rate'; buySortReverse=!buySortReverse">BUY RATE</a>
    					</div>
    					<div class="span1">
    						<a href="" ng-click="buySort=buyProfit; buySortReverse=!buySortReverse">PROFIT</a>
    					</div>
					</div>
					
					<div class="row" ng-repeat="buy in buyHistory | orderBy:buySort:!buySortReverse">
						
						<div class="span1">
    						{{buy.amount|truncate:6:""}}
    					</div>
    					<div class="span2">
    						{{buy.rate|truncate:6:""}}
    					</div>
    					<div class="span1">
    						{{buyProfit(buy)|truncate:6:""}}
    					</div>
    					<div class="span1">
    						<a href="#">Sell</a>
    					</div>
    				
					</div>
					
				</div>
				
				<div class="span6">
					
					<div class="row" style="margin-top: 1.0em;">
						
						<div class="span3">
							<b>LTC CASHOUT:</b> {{ltcCashout()|truncate:6:""}}
							<br/>
							<b>AVAILABLE LTC:</b> {{ltc|truncate:6:""}} / <i>{{unusedLtc|truncate:6:""}}</i>
						</div>
						
						<div class="span3">
							<b>BUY RATE:</b> {{currentBuyPrice|truncate:6:""}}
						</div>
						
					</div>
					
					<div class="row" style="margin-top: 2.0em;">
						<div class="span1">
							<a href="" ng-click="sellSort='amount'; sellSortReverse=!sellSortReverse">AMOUNT</a>
    					</div>
    					<div class="span2">
    						<a href="" ng-click="sellSort='rate'; sellSortReverse=!sellSortReverse">SELL RATE</a>
    					</div>
    					<div class="span1">
    						<a href="" ng-click="sellSort=sellProfit; sellSortReverse=!sellSortReverse">PROFIT</a>
    					</div>
					</div>
					
					<div class="row" ng-repeat="sell in sellHistory | orderBy:sellSort:!sellSortReverse">
						
						<div class="span1">
    						{{sell.amount|truncate:6:""}}
    					</div>
    					<div class="span2">
    						{{sell.rate|truncate:6:""}}
    					</div>
    					<div class="span1">
    						{{sellProfit(sell)|truncate:6:""}}
    					</div>
    					<div class="span1">
    						<a href="#">Buy</a>
    					</div>
    					
					</div>
				
				</div>
				
			</div>
			
			<div class="row" style="margin-top: 4.0em;">
				
				<div class="span12" styl="text-align: center;">
					
					Refresh in {{refreshCounter}} seconds.

					<br/>
					<br/>
					
					<button ng-click="start()">
						Start
					</button>
					
					<button ng-click="stop()">
						Stop
					</button>

				</div>
			
			</div>
		
		</div>

	</body>
	
</html>